body {
	margin: 0;
	font-family: Gill Sans MT, sans-serif;
	text-align: justify;
	-moz-tab-size: 2;
	  -o-tab-size: 2;
	     tab-size: 2;

	--color-main: hsl(360, 100%, 27%);
}

* {
	box-sizing: border-box
}

article {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2em 2em;
}

h1 {
	font-size: 5em;
	font-weight: lighter;
	text-transform: uppercase;
}

h2 {
	margin: 0;
	padding: 1em 0 0.5em;
	font-weight: lighter;
}

h3 {
	margin: 0 0 0.5em;
	font-weight: lighter;
}

ol {
	margin: 0;
}

figure {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}

p {
	margin-top: 0;
}

input[type="number"] {
	max-width: 4.5em;
	text-align: right;
}

img {
	width: 100%;
}

svg text {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

form {
	padding: 16px 8px;
	color: white;
	background-color: var(--color-main);
}

form,
form * {
	display: flex;
	align-items: center;
}

form * {
	margin: 0 4px;
}

form > div {
	flex-direction: column;
	align-items: left;
}

form > div span {
	margin-bottom: 2px;
	font-size: 0.75em;
	text-transform: uppercase;
}

form > button {
	align-self: flex-end;
	margin-left: auto;
}

.selected {
	background-color: hsl(0, 0%, 90%);
}

.text.start {
	text-align: start;
}

.text.center {
	text-align: center;
}

.text.end {
	text-align: end;
}

.color-main.text {
	color: var(--color-main);
}

.color-main.underline {
	text-decoration: underline;
	-webkit-text-decoration-color: var(--color-main);
	        text-decoration-color: var(--color-main);
}

.flex {
	display: flex;
}

.flex.horizontal {
	flex-wrap: wrap;
}

.flex > * {
	width: 100%;
	margin-right: var(--margin);
	margin-left: var(--margin);

	--margin: 8px;
}

@media screen and (min-width: 600px) {
	.flex.horizontal > *:not(:only-child) {
		width: calc(50% - (2 * var(--margin)));
	}
}

.axis.y .zero {
	stroke: hsl(0, 0%, 50%);
	stroke-width: 0.5;
	stroke-dasharray: 2 2;
}

.heat > p {
	margin: 0.5em 0 0;
}

.line > .chart path {
	fill: none;
	stroke: currentColor;
}

.simulate > .chart {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
}

.simulate > .chart > img {
	width: calc(var(--width) - (2 * var(--margin)));
	margin: var(--margin);
	opacity: 0.8;

	--width: 10%;
	--margin: 6px;
}

@media screen and (min-width: 700px) {
	.simulate > .chart > img {
		--width: 5%;
	}
}

.simulate > .chart > img[src$="null.svg"] {
	opacity: 0.25;
}

.tree > .chart .link {
	fill: none;
	stroke: lightgrey;
	stroke-width: 2px;
}

.tree > .chart .node * {
	cursor: pointer;
}

.tree > .chart .node circle {
	stroke: darkred;
	stroke-width: 2px;
}

#Rates h3 {
	margin-bottom: 0.5em;
	font-size: 2em;
	font-weight: normal;
	text-transform: uppercase;
}

#Rates .flex.horizontal p {
	margin-bottom: 0;
}

#Rates .flex.horizontal div > span {
	display: block;
	margin-bottom: 0.5em;
	font-size: 1.5em;
	font-weight: bold;
}

#Rates .line.multi > .chart path {
	stroke-width: 2px;
}

#Rates .lines-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

#Rates .lines-container svg {
	width: 150px;
	height: 30px;
	transition: background-color 200ms;
}

#Comparison .heat ol {
	min-height: 6.5em
}

#Team {
	text-align: center;
}

#Team img {
	width: 150px;
	height: 150px;
	border: 1px solid lightgrey;
}
