body {
	margin: 0;
	font-family: sans-serif;
	font-weight: lighter;
	-moz-tab-size: 2;
	  -o-tab-size: 2;
	     tab-size: 2;
}

input[type="number"] {
	max-width: 3.5em;
	text-align: right;
}

svg text {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

svg.line > .chart path {
	fill: none;
	stroke: currentColor;
}

svg.tree > .chart .node * {
	cursor: pointer;
}

.simulate {
	padding: 4px;
}

.simulate > form,
.simulate > form * {
	display: flex;
	align-items: center;
	margin: 0 4px;
}

.simulate > .chart {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 12px;
}

.simulate > .chart > img {
	width: calc(5% - (2 * var(--margin)));
	margin: var(--margin);

	--margin: 4px;
}

.simulate > .chart > img[src$="null.svg"] {
	opacity: 0.25;
}

svg.tree > .chart .node circle {
	stroke: darkred;
	stroke-width: 2px;
}

svg.tree > .chart .link {
	fill: none;
	stroke: lightgrey;
	stroke-width: 2px;
}

/* .line .axis text 
{ 
	display: none;
} */